.root {
  width: 100%;
}

.row {
  display: flex;
}

.color {
  flex: 1;
  border-radius: 16px;
  margin: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.selected {
  position: relative;
  overflow: hidden;

  &:after {
    position: absolute;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    border: 1px solid black;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
