.handle {
  position: absolute;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.handlesWrapper {
  position: absolute;
  overflow: hidden;
}

.cursor {
  position: absolute;
  width: 15px;
  height: 15px;
  background-size: 15px 15px;
  background-image: url("cursor-images/cursor.svg");
}

.cursor-wrapper {
  
} 

.cursor-body {
  background-image: url("cursor-images/move.svg");
  translate: -7.5px -7.5px;
}

.cursor-n, .cursor-s {
  background-image: url("cursor-images/resize-vert.svg");
  translate: -7.5px -7.5px;
}

.cursor-e, .cursor-w {
  background-image: url("cursor-images/resize-hor.svg");
  translate: -7.5px -7.5px;
}

.cursor-ne, .cursor-sw {
  background-image: url("cursor-images/resize-nesw.svg");
  translate: -7.5px -7.5px;
}

.cursor-nw, .cursor-se {
  background-image: url("cursor-images/resize-nwse.svg");
  translate: -7.5px -7.5px;
}


.cursor-nwrot {
  background-image: url("cursor-images/rotate-nw.svg");
  translate: -7.5px -7.5px;
}

.cursor-swrot {
  background-image: url("cursor-images/rotate-sw.svg");
  translate: -7.5px -7.5px;
}

.cursor-serot {
  background-image: url("cursor-images/rotate-se.svg");
  translate: -7.5px -7.5px;
}

.cursor-nerot {
  background-image: url("cursor-images/rotate-ne.svg");
  translate: -7.5px -7.5px;
}