.root {
  position: relative;
}

.grid {
  position: absolute;
  top: 0;
  left: 0;
}

.textLayer {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'MaccabiBlock', sans-serif;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
}