.handle {
  position: absolute;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.handlesWrapper {
  position: absolute;
  overflow: hidden;
  /* cursor: none; */
}

.cursor {
  position: absolute;
}
/* 
.cursor-wrapper {
  background-image: url();
} 

.cursor-body {

} */