.container {
  padding-top: 1em;
  margin-bottom: 1em;
}

.container label {
  font-size: var(--mechanic-label-font-size);
  margin-bottom: 0.5em;
  margin-left: 0.25em;
}

.newBlobContainer {
  display: flex;
  justify-content: center;
}

.blobContainer {
  margin-bottom: 1em;
  height: 190px;
  overflow-y: auto;
}

.newBlob {
  border: 1px solid currentColor;
  padding: 0.2em 0.7em;
  border-radius: var(--mechanic-input-height-half);
  font-family: 'MaccabiBlock', sans-serif;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
